* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header Section  */

header {


    width: 100%;
    height: 75%;

    background: url(../images/Cover.jpg);
    background-size: cover;
    background-color: rgb(128, 128, 128);
    background-blend-mode: multiply;


}

.h-section {
    text-align: center;
    padding: 175px 300px;
}

.h-title {
    margin: 0px 145px 20px 145px;
    font-weight: 1000;
    font-size: 85px;
    line-height: 99px;
    text-align: center;
    color: #FFFFFF;

}

.h-description {
    margin: 20px 375px 0px 375px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;


    text-align: center;
    color: #FFFFFF;
}

.btn-primary {
    margin-top: 30px;
    background-color: rgba(17, 17, 255, 0.753);
    width: 250px;
    height: 64px;
    font-size: 20px;
    border: 0;
    color: white;
    border-radius: 5px;

}

/* Donate Taka */
.tk-dnt {
    text-align: center;
}

.dt-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-top: 132px;
    margin-bottom: 30px;
}

.dt-des {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;


    text-align: center;

    color: #707070;
    padding: 0px 575px 50px 575px;

}

.dt-tk {
    display: flex;
    justify-content: center;

    list-style: none;
    gap: 25px;
    padding-bottom: 97px;




}

.btn-dt {
    padding: 22px 44px;
    border: none;



}

.btn-dt:focus {
    border: 2.5px solid rgba(17, 17, 255, 0.753);
    display: block;
    background-color: rgba(17, 17, 255, 0.051);

}

.btn-sum {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #707070;
}

#dt-text {
    border: none;
    text-align: center;
    height: 50px;
    outline: none;
    font-size: xx-large;
    font-weight: 800;
    color: #707070;
    margin-bottom: 15px;
}

.hr-line {
    margin: 0px 600px 0px 600px;

}

/* Donate Plan  */

.dnt-p>.p-title,
.p-des {

    text-align: center;
}

.p-title {

    margin: 120px 0px 20px 0px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

}

.p-des {

    margin: 0px 0px 50px 0px;

    color: #707070;


}

.p-ser {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 0px 300px;

}

.p-item {
    width: 360px;
    height: 232px;


    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 55px 26px;

}

.p-item2 {
    width: 360px;
    height: 232px;


    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 55px 26px;

}

.p-item3 {
    width: 360px;
    height: 232px;


    background: #FFF4D6;
    ;
    border-radius: 5px;
    padding: 55px 26px;

}

.icon {
    width: 58.13px;
    height: 49.77px;
    left: 180px;
    top: 1659px;
}

.i-ti {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    margin-top: 32px;
    margin-bottom: 16px;


    color: #121212;

}

.i-des {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #707070;
    padding: 0px;
}

/* Your Donation */

.y-d {
    display: flex;
    padding: 130px 256px 100px 256px;
    gap: 80px;
}

.y-d-i {
    padding-left: 44px;
    padding-right: 40px;
}

.y-d-t {
    font-weight: bolder;
    font-size: 50px;
    line-height: 54px;
    margin-right: 30px;
    margin-bottom: 30px;

    color: #121212;
}

.y-d-d {
    margin-right: 30px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 156% */


    color: #707070;
}

.d-img {
    width: 596px;
    height: 407px;
    border-radius: 5px;
    margin-right: 50px;
}

/* They need us to suvive */


.blog {
    display: flex;
    margin: 30px 56px 50px 300px;
    gap: 200px;
  }
 

  .blog_one_left h2 {
    font-weight: 700;
    font-size: 42px;
    width: 492px;
  }
  .blog_one_left p {
    width: 482px;
  
    margin: 20px 0;
    

  }
  .blog_img img {
    width: 572px;
}
  /* <!-- Get My Updates  --> */





.email_border {
    width: 809px;

    height: 200px;

    margin: auto;

    padding: 76px 190px;

    background: #fff4d6;

    position: relative;
}

.email_border input {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: none;
    background: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
    width: 275px;
    height: 48px;
    outline: none;
}

.email_border input::placeholder {
    padding: 10px;
}

.updates {
    text-align: center;
    margin-top: 100px;
}

.email_border .primary_btn {
    position: absolute;
    top: 43%;
    left: 54%;
    width: 157px;
    padding: 10px;
    border-radius: 0;
    
        padding: 11.5px 20px;
        background: #ff5959;
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
        border: none;
        margin-left: 5px;
      
}




/* Footer  */

footer {
    background: #0b0d17;
    margin-top: 130px;
}

.footer_ending {
    text-align: center;
}

.footer_ending img {
    width: 158px;
    margin-top: 43px;
    margin-bottom: 24px;
}

.footer_ending p {
    color: #d9dbe1;
    padding-bottom: 24px;
}